.start{
    padding: 2rem;
    border-radius: 50%;
    border: black;
    font-size: 2rem;
    color: white;
    background-color: limegreen;
    cursor: pointer;
}
.pause{
    padding: 2rem;
    border-radius: 50%;
    border: black;
    font-size: 2rem;
    color: white;
    background-color:crimson;
    cursor: pointer;
}
.reset{
    margin-left: 1.5rem;
    padding: 2rem;
    border-radius: 50%;
    border: black;
    font-size: 2rem;
    color: white;
    background-color:darkmagenta;
    cursor: pointer;
}
.reset:disabled{
    color: white;
    background-color:lightgray;
}


